<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avada Music</title>
    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <!-- App Wrapper -->
    <div id="app">
        
        <!-- HEADER -->
        <header>
            <div class="header-container">

                <div class="row-top">
                    <div class="container-large">
    
                        <!-- logo -->
                        <div class="logo">
                            <img src="img/avada-music-logo.png" alt="avada-music-logo">
                        </div>
    
                        <!-- Burger Button -->
                        <div class="burger" @click="toggleNav()">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>                        

                    </div>                
                </div>
    
                <!-- Jumbotron -->
                <div class="jumbotron">
    
                    <div class="teaser">
                        <h1>Untold Stories</h1>
                        <p class="italic-text">There is an untold story behind every favourite song.</p>

                        <div class="buttons">
                            <a href="#">Latest Album</a>
                            <a href="#">Live Dates</a>
                        </div>
                    </div>

                </div>  

                <!-- Nav -->
                <nav :class="{active : navOpen}">
                    <div class="nav-container">

                        <div class="row-top">
                            <div class="container-large">
            
                                <!-- logo -->
                                <div class="logo">
                                    <img src="img/avada-music-logo.png" alt="avada-music-logo">
                                </div>
            
                                <!-- Burger Button -->
                                <div class="burger" @click="toggleNav()">
                                    <div class="times"></div>
                                    <div class="times"></div>
                                    <div class="times"></div>
                                </div>                        
        
                            </div>                
                        </div>

                        <!-- Menu -->
                        <ul class="menu">
                            <li v-for="page in pages">
                                <a class="header-links" href="#">{{page}}</a>
                            </li>                            
                        </ul>

                    </div>                    
                </nav>

            </div>            
        </header>
        <!-- END HEADER -->

        <!-- MAIN -->
        <main>

            <!-- Music is Life Section -->
            <section class="music-life">
                <h2 class="section-title">Music Is Life</h2>
                <div class="container-small">
                    <p class="normal-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatum adipisci ea eligendi iste sunt obcaecati nemo! Animi, facere, blanditiis velit quasi numquam.</p>
                </div>
            </section>

            <!-- Band News Section -->
            <section class="band-news">
                <h2 class="section-title">Latest Band News</h2>
                <div class="container-small">
                    <p class="normal-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatum adipisci ea eligendi iste sunt obcaecati nemo! Animi, facere, blanditiis velit quasi numquam.</p>
                </div>

                <div class="news-cards">
                    <div class="container-medium">

                         <!-- Col Left -->
                        <div class="col-left">

                            <!-- Horizontal Card -->
                            <div class="horizontal-card">
                                <img src="img/blog_music_techo-600x300.jpg" alt="">
                                <div class="card-teaser">
                                    <h4 class="card-title">Technology and music</h4>
                                    <p class="normal-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    </p>
                                </div>

                                <div class="card-hover">
                                    Technology and music
                                </div>
                            </div>

                            <!-- Vertical Cards Container -->
                            <div class="vertical-cards-container">

                                <!-- Vertical Card -->
                                <div class="vertical-card">
                                    <img src="img/blog-post3-400x600.jpg" alt="">
                                    <div class="card-teaser">
                                        <h4 class="card-title">While my guitar gently wheeps</h4>
                                        <p class="normal-text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        </p>
                                    </div>

                                    <div class="card-hover">
                                        While my guitar gently wheeps
                                    </div>
                                </div>
                                
                                <!-- Vertical Card -->
                                <div class="vertical-card">
                                    <img src="img/blog-post4-400x600.jpg" alt="">
                                    <div class="card-teaser">
                                        <h4 class="card-title">It just sounds better</h4>
                                        <p class="normal-text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        </p>
                                    </div>

                                    <div class="card-hover">
                                        It just sounds better
                                    </div>
                                </div>
                            </div>

                            <!-- Horizontal Card -->
                            <div class="horizontal-card">
                                <img src="img/blog_flavor_rock-600x300.jpg" alt="">
                                <div class="card-teaser">
                                    <h4 class="card-title">The flavor of rock</h4>
                                    <p class="normal-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    </p>
                                </div>

                                <div class="card-hover">
                                    The flavor of rock
                                </div>
                            </div>

                        </div>

                        <!-- Col Right -->
                        <div class="col-right">
                            <div class="card-right-container">

                                <!-- Single Vertical Card Right -->
                                <div class="vertical-card-right">
                                    <img src="img/blog-post1-600x900.jpg" alt="">
                                    <div class="card-teaser">
                                        <h4 class="card-title">Taking it back to the old school</h4>
                                        <p class="normal-text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        </p>
                                    </div>

                                    <div class="card-hover">
                                        Taking it back to the old school
                                    </div>
                                </div>

                                <!-- Single Vertical Card Right -->
                                <div class="vertical-card-right">
                                    <img src="img/blog-post2-600x900.jpg" alt="">
                                    <div class="card-teaser">
                                        <h4 class="card-title">Sharing the stage with a legend</h4>
                                        <p class="normal-text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        </p>
                                    </div>

                                    <div class="card-hover">
                                        Sharing the stage with a legend
                                    </div>
                                </div>

                            </div>                            
                        </div>

                    </div>
                </div>

                <a href="#" class="section-cta divider-title">
                    View all latest news 
                </a>
            </section>
            <!-- End Band News Section -->


            <!-- Section Video -->
            <section class="video-section">                                    
                    <div class="parallax">
                        <div class="container-small">
                            <q class="italic-text">I just listened to it and said to myself, <q>Man, I really love this album.</q> Still, today it just sounds so fresh. It sounds full of ideas. These guys knew what they were doing. They're good. And they're inventive. I haven't heard anything this year that's as inventive. I don't really expect to.</q>
                            
                            <div class="play-video-img">
                                <img src="img/band_interview_play_icon.png" alt="">
                            </div>
                        </div>
                    </div>                           
            </section>
            <!-- End Section Video -->   
            
            <!-- Section Live Dates -->
            <section class="live-dates">
                <h2 class="section-title">Live Dates</h2>
                <div class="container-small">
                    <p class="normal-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatum adipisci ea eligendi iste sunt obcaecati nemo! Animi, facere, blanditiis velit quasi numquam.</p>
                </div>

                <div class="container-medium">

                    <!-- Single Date -->
                    <div 
                        v-for="(date, index) in liveDates" 
                        class="single-date" 
                        :class="{open : dateOpen == index}"
                        @click="toggleDate(index, date)"
                    >

                        <div class="icon-left" :class="{open : dateOpen == index}">
                            <i v-if="dateOpen != index" class="fas fa-plus"></i>  
                            <i v-else class="fas fa-minus"></i>                          
                        </div>
                        <p class="faq-text">{{date.date}}</p>

                        <!-- Info Container -->
                        <div class="info-container">

                            <!-- Map -->
                            <div id="map" class="map">
                                
                                <iframe :src="date.iFrameLink" loading="eager"></iframe>
                            </div>

                            <!-- Infos -->
                            <div class="info">
                                <h4 class="info-title">Untold Stories</h4>
                                <p class="normal-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aspernatur totam aperiam necessitatibus labore molestias sequi consequatur ad velit odio. Obcaecati fuga repudiandae vitae aliquid deserunt amet aut enim pariatur.
                                </p>
                                <a href="#" class="info-button">Book Now</a>
                            </div>
                        </div>
                    </div>

                </div>


                <a href="#" class="section-cta divider-title">
                    View all live dates 
                </a>
            </section>
            <!-- End Section Live Dates -->

        </main>
        <!-- END MAIN -->

        <!-- FOOTER -->
        <footer>

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-large">
                    
                     <div class="logo-footer">
                         <img src="img/avada-music-logo.png" alt="avada music logo">
                     </div>
                     
                     <nav class="footer-nav">
                         <ul>

                             <li v-for="page in pages">
                                <a class="normal-text" href="#">
                                    {{page}}
                                </a>  
                            </li>

                         </ul>
                     </nav>

                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container-large">

                    <div class="credits">
                        <ul class="normal-text">
                            <li>
                                © Copyright 2012 - 2021
                            </li>
                            <li>
                                Avada Theme by <a href="#">Themefusion</a> 
                            </li>
                            <li>
                                All Rights reserved
                            </li>
                            <li>
                                Powered By <a href="#">Wordpress</a> 
                            </li>
                        </ul>
                    </div>

                    <div class="social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>                                
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>                                
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>                                
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>                                
                            </li>

                            
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->
    </div>
    <!-- End App Wrapper -->
    
    
    <script src="dist/app.js"></script>
</body>
</html>