// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.section-cta {
    display: block;
    padding: 40px;
    background-color: $brand_primary_color;
    text-decoration: none;
    transition: all .32s ease;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

// Containers
.container-large {
    width: 92%;
    margin: auto;
}

.container-medium {
    width: 70%;
    margin: auto;
}

.container-small {
    width: 50%;
    margin: auto;
}

// Titles
.section-title {
    font-size: $big_font_size;
    color: #fff;
    font-weight: 700;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.card-title {
    color: $brand_primary_color;
    font-size: $medium_font_size;
    font-weight: 600;
}

.divider-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: $medium_font_size;
}

.header-links {
    color: #fff;
    font-size: $header_font_size;
    font-weight: 400;  
    text-decoration: none;  
}


// Texts
.italic-text {
    font-style: italic;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #fff;   
    font-size: $medium_font_size; 
    line-height: 35px;
    letter-spacing: 3px;
}

.normal-text {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: $brand_text_color;
    font-size: $standard_font_size;
    line-height: 30px;    
}

.faq-text {
    text-transform: uppercase;
    color: $brand_primary_color;
    font-size: $medium_font_size;
    font-weight: 400;
}