// Music is life section
.music-life {
    padding: 60px 0;
    background-color: $brand_tertiary_color;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        width: 35%;
        height: 10px;
        background-color: $brand_primary_color;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-title {
        &::after {
            @include line_after_title;
        }
    }

    
}

// Band News Section
.band-news {
    background-color: $brand_secondary_color;
    padding: 60px 0;
    text-align: center;

    .section-title {        
        &::after {
            @include line_after_title;
        }        
    }

    .container-small {
        margin-bottom: 60px;
    }

    .news-cards {
        text-align: left;

        .container-medium {
            display: flex;
        }

        .col-left {
            width: 65%;

            .horizontal-card {
                height: 280px;
                position: relative;

                &:first-child {
                    margin-bottom: 25px;
                }                

                img {
                    @include card_img;
                }

                .card-teaser {
                    @include card_teaser;

                    .card-title {
                        margin-bottom: 5px;
                    }
                }
            }

            .vertical-cards-container {
                display: flex;
                height: 510px;
                margin-bottom: 25px;

                .vertical-card {
                    @include vertical_blog_card;

                    &:first-child {
                        margin-right: calc(25px / 2);
                    }
                    &:last-child {
                        margin-left: calc(25px / 2)
                    }
                }
            }


        }

        .col-right {
            width: 35%;

            // test
            height: 200px;
            padding-left: 25px;

            .card-right-container {
                height: 100%;
                background-color: #fff;
                border: 1px solid red;
                width: 100%;
            }
        }
    }



    

}