// Music is life section
.music-life {
    padding: 60px 0;
    background-color: $brand_tertiary_color;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        width: 35%;
        height: 10px;
        background-color: $brand_primary_color;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-title {
        &::after {
            @include line_after_title;
        }
    }

    
}

// Band News Section
.band-news {
    background-color: $brand_secondary_color;
    padding: 60px 0;
    text-align: center;

    .section-title {        
        &::after {
            @include line_after_title;
        }        
    }

    .container-small {
        margin-bottom: 60px;
    }

    .news-cards {
        
    }



    

}