// Music is life section
.music-life {
    padding: 60px 0;
    background-color: $brand_tertiary_color;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        width: 35%;
        height: 10px;
        background-color: $brand_primary_color;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-title {
        &::after {
            @include line_after_title;
        }
    }

    
}

// Band News Section
.band-news {
    background-color: $brand_secondary_color;
    padding: 60px 0 0;
    text-align: center;

    .section-title {        
        &::after {
            @include line_after_title;
        }        
    }

    .container-small {
        margin-bottom: 60px;
    }

    .news-cards {
        text-align: left;
        margin-bottom: 80px;

        .container-medium {
            display: flex;
        }

        .col-left {
            width: $col_left_width;

            .horizontal-card {
                height: $left_horiz_card_height;
                position: relative;
                cursor: pointer;

                &:first-child {
                    margin-bottom: $cards_margin;
                }   
                
                .card-hover {
                    @include card_hover;
                }
                &:hover {
                    .card-hover {
                        opacity: 1;  
                    }
                    .card-teaser {
                        opacity: 0;
                    }
                }

                img {
                    @include card_img;
                }

                .card-teaser {
                    @include card_teaser;

                    .card-title {
                        margin-bottom: 5px;
                    }
                }

                
            }

            .vertical-cards-container {
                display: flex;
                height: $left_vertical_container_height;
                margin-bottom: $cards_margin;
                

                .vertical-card {
                    @include vertical_blog_card;
                    position: relative;
                    cursor: pointer;

                    &:first-child {
                        margin-right: calc(#{$cards_margin} / 2);
                    }
                    &:last-child {
                        margin-left: calc(#{$cards_margin} / 2)
                    }

                    .card-hover {
                        @include card_hover;
                    }
                    &:hover {
                        .card-hover {
                            opacity: 1;  
                        }
                        .card-teaser {
                            opacity: 0;
                        }
                    }

                    img {
                        @include card_img;
                    }

                    .card-teaser {
                        @include card_teaser;
    
                        .card-title {
                            margin-bottom: 5px;
                        }
                    }
                }
            }


        }

        .col-right {
            width: calc( 100% - #{$col_left_width});
            padding-left: $cards_margin;

            .card-right-container {
                

                .vertical-card-right {
                    position: relative;
                    height: calc(( #{$cards_margin} + #{$left_horiz_card_height * 2} + #{$left_vertical_container_height} ) / 2);
                    cursor: pointer;

                    &:first-child {
                        margin-bottom: $cards_margin;
                    }

                    .card-hover {
                        @include card_hover;
                    }
                    &:hover {
                        .card-hover {
                            opacity: 1;  
                        }
                        .card-teaser {
                            opacity: 0;
                        }
                    }

                    img {
                        @include card_img;
                    }

                    .card-teaser {
                        @include card_teaser;
    
                        .card-title {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

// Video Section
.video-section {
    height: 80vh;
    overflow: hidden;    

    .parallax {
        width: auto;
        height: 100%;
        background-image: url('../img/home-testimonial-parallax.jpg');
        background-size: cover;
        background-attachment: fixed;               
    }
    
    .container-small {      
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
        
        .play-video-img {
            margin-top: 40px;
            height: 70px;
            width: 70px;
            cursor: pointer;
        }
    }    
}

// Live Dates Section
.live-dates {
    background-color: $brand_secondary_color;
    padding: 60px 0 0;
    text-align: center;
    

    .section-title {       
        text-align: center; 
        &::after {
            @include line_after_title;
        }        
    }

    .container-small {
        margin-bottom: 60px;
        text-align: center;        
    }

    .container-medium {
        margin-bottom: 80px;
    }
    .single-date {
        background-color: $brand_tertiary_color;
        padding: 25px;
        margin-bottom: 15px;
        cursor: pointer;
        text-align: left;

        &:hover {
            .faq-text {
                color: #fff;
            }
            .icon-left {
                background-color: $brand_primary_color;
            }
        }

        &.open .info-container {
            // max-height: 237px;
            margin-top: 30px;
            opacity: 1;            
        }
        
        .icon-left,
        .faq-text{
            display: inline-block;
            margin-right: 15px;
            vertical-align: middle;
            transition: all .32s ease;
        }
    
        .icon-left {
            color: #fff;
            cursor: pointer;            
            width: 25px;
            height: 25px;
            text-align: center;   
            font-size: 12px;       



            i {
                line-height: 25px;
                display: block;  
                transform: translateX(- 0.5px);              
            }
        }  
        

        .info-container {
            display: flex;
            height: 0;
            opacity: 0;
            overflow: hidden; 
            transition: all .42s ease;                       

            .map {
                width: 300px;
                margin-right: 30px;
                flex-shrink: 0;

                // Test
                background-color: #fff;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                color: #fff;

                .info-title {
                    font-size: $medium_font_size;
                    font-weight: 500;
                }

                .normal-text {
                    margin: 30px 0;
                }

                .info-button {
                    @include buttons_base_style;
                    background-color: $brand_primary_color; 
                    display: inline-block;   

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }



        }
    }
}

