header {
    height: 100vh;
    width: 100%;
    background-image: url('../img/home_slider.jpg');
    background-size: cover;
    background-position: center center;

    .header-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .container-large {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .row-top {
        padding: 25px 0;

        .logo {
            width: 260px;
        }

        .burger {
            color: #fff;
            height: 25px;
            width: 35px;
            cursor: pointer;

            .bar {
                height: 2px;
                background-color: #fff;

                &:nth-child(2) {
                    height: 3px;
                    margin: 6px 0;
                }
            }
        }
    }

    .jumbotron {
        flex-grow: 1;
        position: relative;

        .teaser {
            position: absolute;
            top: calc(50% - 60px);
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-align: center;
            width: 100%;

            h1 {
                font-size: 105px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .italic-text {
                margin-bottom: 60px;
            }

            .buttons {
                display: flex;
                justify-content: center;

                a {
                    @include buttons_base_style;                                                          

                    &:first-child {
                        background-color: $brand_primary_color;
                        margin-right: 10px;
                    }
                    
                    &:last-child {
                        border: 1px solid #fff;
                        margin-left: 10px;                        
                    }

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }

            
        }

    }

    nav {        
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $brand_primary_color;          
        z-index: 999;   
        transition: opacity .42s, visibility .42s;   
        
        &.active {
            visibility: visible;
            opacity: 1;    
            
            .row-top .burger .times {
                visibility: visible;  

                &:first-child {
                    transform: rotate(-45deg) translate(-6px, 6px);
                }
                &:last-child {
                    transform: rotate(45deg) translate(-6px, -6px);                    
                }
            }
        }
        
        .nav-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .row-top {
            .burger {                
                color: #fff;
                height: 25px;
                width: 35px;
                cursor: pointer;

                &:hover {
                    .times {
                        opacity: 1;                        
                    } 
                }                

                .times {
                    visibility: hidden;
                    background-color: #fff;  
                    opacity: 0.7;    
                    transition: all .42s;                       
                    transform: rotate(0deg);
 
                    height: 2px;

                    &:nth-child(2) {
                        height: 3px;
                        margin: 6px 0; 
                        opacity: 0;                       
                    }                                        
                }
                
            }
        }

        .menu {
            display: flex;
            flex-grow: 1; 
            list-style-type: none;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 20px 0 60px;
            
            li {
                &:first-child a {
                    opacity: 1;
                }

                a {
                    opacity: 0.5;                    

                    &:hover {
                        opacity: 1;
                    }                    
                }                
            }
        }
    };

    
}

