@mixin line_after_title  {
    content: '';
    height: 2px;
    background-color: $brand_line_after_color;
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);    
}

@mixin paragraph_container {

}