@mixin line_after_title  {
    content: '';
    height: 2px;
    background-color: $brand_line_after_color;
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);    
}

@mixin card_img {
        height: 100%;
        width: 100%;
        object-fit: cover;
}

@mixin card_teaser {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $brand_tertiary_color;
    padding: 20px;
}

@mixin vertical_blog_card {
    height: 100%;
    width: calc( 50% - 25px / 2 );
}