// Colors
$brand_primary_color: #ea4a56;
$brand_secondary_color: #272b34;
$brand_tertiary_color: #323844;
$brand_text_color: #75726e;
$brand_line_after_color: #444e62;

// Font Sizes
$big_font_size: 52px;
$header_font_size: 30px;
$medium_font_size: 16px;
$standard_font_size: 14px;


// Height of Blog Cards
$col_left_width: 68%; // width of col left (col right is 100% - col left)
$left_horiz_card_height: 260px; // Col left horizontal cards height
$left_vertical_container_height: 510px; // Height of the Container of vertical cards on col left
$cards_margin: 25px;  




