// Colors
$brand_primary_color: #ea4a56;
$brand_secondary_color: #272b34;
$brand_tertiary_color: #323844;
$brand_text_color: #75726e;
$brand_line_after_color: #444e62;

// Font Sizes
$big_font_size: 52px;
$header_font_size: 30px;
$medium_font_size: 18px;
$standard_font_size: 16px;
$small_font_size: 14px;

